
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    box-sizing: border-box;
 }
 
body {
    font-size: 100%;
    
}



header .container{
     margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
 }
 
 header .logo {
    margin: 15px;
}

article .container {
    margin-top: -20px;
}

header nav a {
    color: black;
    padding: 15px;
    margin-right: 15px;
    text-align: center;
}

header nav a:hover {
    color: rgb(109, 103, 103);
}

.news {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
}

.form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 12px -4px #000000;
    padding: 20px 10%;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #504e4a;
}

.nov {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input {
    width: 400px;
   padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: text;
}

button {

    padding: 0.8rem 1.5rem;
    border-radius: 5rem;
    background: #e05e85;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    transition: all 0.3s linear;
    text-align: center;
    margin-left: 10px;
    border: 1px solid black;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

}

button:hover {
    padding: 0.8rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 100px;
    cursor: pointer;
}

.banner2 {
    display: flex;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    margin: 20px 50px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.6);
}


.banner2:hover {

    background-image: linear-gradient(to top, transparent, rgba(0,0,0,.2));
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.3);
}

.produtos {
    margin-top: -25px;
    padding: 1rem;
    background-image: linear-gradient(to right, #e458ae, #CD113B); 
}

.titulo {
    padding-top: 1.2rem;
    color: rgb(230, 63, 207);
    text-shadow: 0 0 0.2em #8137ca, 0 0 0.2em #6f29d8,
        0 0 0.2em #5800dd;

    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
}

.sub {
    color: white;
    text-align: center;
}

h3 {
    padding-top: 1rem;
}

.box-produtos {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-item {
    background: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.753);
    margin: 1.2rem;
    padding: 1.8rem 1.8rem;
    text-align: center;
    transition: 0.2s linear;
}

.btn {
    display: inline-block;
    margin-top: 0.3rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5rem;
    background: #ff5fb7;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    transition: all 0.3s linear;
}

.btn:hover {
        display: inline-block;
        margin-top: 0.3rem;;
        padding: 0.8rem 1.5rem;
        border-radius: 5rem;
        background: rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        color: black;
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
        transition: all 0.3s linear;
}

footer {
        text-align: center;
        background-image: linear-gradient(to right, #f733ab, #ff0ba2);
        width: 100%;
        height: 100px;
        bottom: 100px;
        left: 100px;
}

.nome {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
